//- Шаблон для всех остальных страниц, кроме страницы приветствия
extends ./layout

block content
    //- Вводный экран с социалками, сендвич-меню, фото, фамилией и названием посредине. Фон - горы
    block intro

    //- Весь основной контент страницы
    block page-content

    //- Блок подвала
    +footer()

