//- Шаблон для страницы приветствия
extends ./layout

block content
    //- Верхний блок с кнопкой авторизации
    block header

    //- Прямоугольный блок с фото, фамилией, социалками и меню
    block greeting

    //- Блок подвала
    block footer

