block variables
include sections/mixins

doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    link(href='/assets/css/main.css', rel='stylesheet')

    //- favicon block start
    //- favicon block end
    script(src='/assets/js/app.js' defer)
  body
    block content
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxw-z71VE9X8YgQEtgru1IjOW1t8suXuI&callback=initMap" async defer)
