# Numerous always-ignore extensions
*.bak
*.diff
*.err
*.exe
*.log
*.orig
*.rej
*.sass-cache
*.swo
*.swp
*.vi
*.lock
*~

# OS or Editor folders
*.sublime-grunt.cache
*.sublime-project
*.sublime-workspace
._*
.cache
.DS_Store
.project
.settings
.tmproj
Thumbs.db

# Folders to ignore
.CVS
.git
.hg
.idea
.svn
bower_components
dist
build
sprites_generated
config.json
# Node.JS
node_modules
npm-debug.log
/yarn.lock
Буде вилучено public/assets/img/bg/admin_bg.png
Буде вилучено public/assets/img/icons/upload_image.png
Буде вилучено source/images/bg/admin_bg.png
Буде вилучено source/images/icons/upload_image.png
Буде вилучено source/images/logo/
