.hero__name {
  color: #FFFFFF;
  position: relative;
  top: -50px;
}

.blog__hero-bg {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0;
}

.blog__wrapper {
  margin-bottom: 67px;
}

.blog {
  color: $textColor;
  background-color:#FFFFFF;
  padding-top: 67px;
}


.blog__col {

  &_left {
    float: left;
    text-align: right;
    min-height: 1px;
    width: 25%;
    padding-left: 45px;
    padding-right: 0px;
  }
  &_right {
    float: right;
    width: 75%;
    padding-left: 95px;
    padding-right: 111px;
  }
}

.wrap-menu {
  position: relative;
  top: 0;
}

.wrap-menu.fixed {
  left: 0;
  //width: 30%;
  padding: 0 40px;
  width: 25%;
}

.fixed {
  position: fixed;
  top: 20px;
  padding: 0 40px;
  width: 25%;
}

.blog__menu-item {
  padding-right: 10px;
  margin-bottom: 36px;
  cursor: pointer;
  &_selected {
    color: $green;
    border-right: solid 4px $green;
  }

  &_slide-menu {
    color: #ffffff;
  }
}

.blog__item-header{
  font-family: "bernier_regular";
  font-size: 25px;
  margin-top: 0px;
}

.blog__item-date {
  color: #24c4aa;
}

.blog__item-content {

}