.box-menu {
  position: absolute;
  bottom: 0px;
  height: 45px;
  display: table-row;
  width: 100%;
}

.box-menu__item {
  width: auto;
  display: table-cell;
  text-align: center;
  height: 45px;
  border-left: 1px solid #FFFFFF;
  vertical-align: bottom;

  &:first-child {
    border-left: none;
  }
}

.box-menu__link {
  width: 1000px;
  display: table-cell;
  vertical-align: middle;
  height: 45px;
  color: #FFFFFF;
  font-weight: bold;
  background: rgba(#09b09e, 0.5);

  &:hover {
    background: rgba(#078d84, 0.7);
  }
}

