.checkbox-input {
  width: 25px;
  position: relative;
}

.checkbox-input label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 2px;
  color: #ffffff;
  background: #2cc7a7;
  border-radius: 4px;
  border: none;
}

.checkbox-input label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #ffffff;
  border-top: none;
  border-right: none;

  transform: rotate(-45deg);
}

.checkbox-input input[type=checkbox]:checked + label:after {
  opacity: 1;
}
