
.contacts {
  position: absolute;
  width: 380px;
  height: 290px;
  z-index: 100;
  @include centered();
  top: 40%;

  text-align: center;
  border-radius: 10px;
  background: rgba(#fcfcfc, 0.8);
}

.contacts__list {
  text-align: left;
}

.contacts__link{
  height: 24px;
  padding-left: 35px;
  margin-bottom: 18px;
  color: #9ca7ad;
  display: flex;
}

.contacts__item {

  font-weight: bold;
}

.contacts__value {
  margin-left: 10px;
}

.contacts__svg {
  fill: #61dac9;
  width: 25px;
}