.feedbacks {
  text-align: center;
}

.feedbacks__wrapper {
  margin-top: 30px;
  background-image: url('/assets/img/bg/oсean_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;

}

.feedbacks__items {
  width: 70%;
  margin: 0 auto;
  @extend %clearfix;
}

.feedbacks__feedback {
  width: 50%;
  padding-top: 60px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 10px;
  float: left;
  background-image: url("/assets/img/decor/quote.png");
  background-position-x: 18px;
  background-position-y: 0px;
  background-repeat: no-repeat;
}

.feedbacks__connect-me-wrapper {
  position: relative;
  width: 100%;
  height: 500px;
}

.feedbacks__feedback-content {
  text-align: left;
  color: $textColor;
}

.feedbacks__feedback-bottom {
  position: relative;
  margin-top:24px;
  height: 80px;
}

.feedbacks__feedback-image-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 25px;
  overflow: hidden;
  display: inline-block;
  left: 0px;
  @include centered(Y);

}

.feedbacks__feedback-author-container {
  left: 100px;
  text-align: left;
  @include centered(Y);
  color: #24b2a4;
}

.feedbacks__feedback-author {
  font-weight: bold;
}
