$sidePadding: 30px;
$socialsSize: 45px;
$socialsCount: 3;

.footer {
  min-height: $footerHeight;
  margin-top: -$footerHeight;
  position: relative;
  background-color: rgba(#565b5f,0.8);
  width: 100%;
}

.footer__block {
  min-height: $footerHeight / 2;
  width: 100%;
  padding-left: $sidePadding;
  padding-right: $sidePadding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #b7bdc1;
}

.footer__block_bordered {
  border-bottom: solid 1px #a5aaae;
  color: #ffffff;
}

.footer__menu {
  width: 50%;
}

.footer__menu-item {
  display: inline-block;
  padding: 2%;
  position: relative;
}

.footer__menu-link {
  color: #ffffff;
  font-weight: bold;
}

.footer__socials-wrapper {
  width: $socialsSize * $socialsCount;
  height: 100%;
}

.footer__left-text {
  width: 50%;
}

.footer__right-text {
  width: 50%;
  text-align: right;
}
