.greeting-box {
  width: 380px;
  height: 394px;
  display: block;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  @include centered();
  background: rgba(#fcfcfc, 0.5);
}

.greeting-box__pic-container {
  width: 147px;
  height: 147px;
  border-radius: 50%;
  margin-bottom: 25px;
  overflow: hidden;
  display: inline-block;
  margin-top: 38px;
}

.greeting-box__name {
  color: $textColor;
  font-weight: bold;
  font-size: 22px;
}

.greeting-box__desc {
  font-weight: 100;
  color: $textColor;
  margin-bottom: 25px;
}

.greeting-box__socials {
  height: 25px;
}

.greeting-box__socials-item {
  display: inline-block;
  padding-left: 13px;
  padding-right: 13px;
}

.greeting-box__socials-link {
  display: block;

  background-repeat: no-repeat;
  background-position: center center;
  svg {
    fill: #77d4ca;
  }
  svg:hover {
    fill: #00c0a5;
  }
}
