.greeting-box {
  width: 380px;
  height: 394px;
  display: block;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  @include centered();
  background: rgba(#fcfcfc, 0.5);
}

.greeting-box__socials {
  height: 25px;
  width: 140px;
  margin: 0 auto;
}
