.hero {
  overflow: hidden;
  position: relative;
}

.hero__author-container {
  text-align: center;
  @include centered();
}

.hero_about, .hero_works {
  height: 600px;
}

.hero_blog {
  height: 400px;
}

.hero__bg {
  @include centered(X);
  width: 100%;
}

.hero__container {
  @include centered(Y);
  width: 100%;
}

.hero-title-pic {
  @include centered();
}

.hero__socials {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 120px;
  height: 25px;
}

.hero__hamburger {
  position: absolute;
  right: 30px;
  top: 30px;
  svg {
    fill: rgba(#ffffff, 0.7);
  }
  svg:hover {
    fill: #ffffff;
  }
}

.hero__bottom-triangles {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  margin: 0;
}

.hero__bottom-triangles_works {
  .leftTriangle {
    fill: #fbf8f1;
  }
  .rightTriangle {
    fill: #fbf8f1;
  }
}

.hero__bottom-triangles_blog {
  .leftTriangle {
    fill: #ffffff;
  }
  .rightTriangle {
    fill: #ffffff;
  }
}

.hero__bottom-triangles_about {
  .leftTriangle {
    fill: $white;
  }
  .rightTriangle {
    fill: $beige;
  }
}