.hero {
  overflow: hidden;
  position: relative;
}

.hero__author-container {
  text-align: center;
  @include centered();
}

.hero_about, .hero_works {
  height: 600px;
}

.hero_blog {
  height: 400px;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1270px;


}

.hero__bg-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__container {

}

.hero-title-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
}

.hero__socials {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 120px;
  height: 25px;
}

.hero__hamburger {
  position: absolute;
  right: 30px;
  top: 30px;
  svg {
    fill: rgba(#ffffff, 0.7);
  }
  svg:hover {
    fill: #ffffff;
  }
}

.hero__bottom-triangles {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  margin: 0;
}

.hero__bottom-triangles_works {
  .leftTriangle {
    fill: #fbf8f1;
  }
  .rightTriangle {
    fill: #fbf8f1;
  }
}

.hero__bottom-triangles_blog {
  .leftTriangle {
    fill: #ffffff;
  }
  .rightTriangle {
    fill: #ffffff;
  }
}

.hero__bottom-triangles_about {
  .leftTriangle {
    fill: $white;
  }
  .rightTriangle {
    fill: $beige;
  }
}