$mapHeight: 824px;

.map {
  height: $mapHeight;
  overflow: hidden;
  //position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map__bg {
  @include centered(X);
  width: 100%;
}

.map__container {
  height: 200px; // $mapHeight - $footerHeight;
  width: 200px;
  position: relative;
  display: block;
}

.map__google{
  height: $mapHeight;
  width: 100%;
  position: absolute;
}

.map__box-over {
  position: absolute;
  @include centered();
  width: 100%;
  height: 100%;
}

