.slider {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

.slider-descr {
  flex: 0 0 100%;
  width: 50%;
  background: $white;
  display: flex;
  align-items: center;
}

.slider__descr-inner {
  width: 100%;
}

.slider__descr-skills {
  color: #00bf9d;
  width: 90%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px #00bf9d;
  border-bottom: solid 1px #00bf9d;
  margin: 0 auto;
}

.slider__deskr-btn-wrapper  {
  padding: 40px;
  width: 100%;
}

.slider__deskr-btn {
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 12px;
  padding-left: 40px;
  padding-right: 22px;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  background-color: #00bf9d;
  background-image: url("/assets/img/icons/link.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
}

.slider__display {
  flex: 0 0 75%;
  width: 50%;
  position: relative;
  background: $beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__display-img {
  max-width: 70%;
  max-height: 50vh;
}

.slider__switches {
  flex: 0 0 25%;
  width: 50%;
  position: relative;
  background: $beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__switch {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.slider__switch-bg-gray {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(182, 180, 174, 0.5);
  z-index: 10;
}

.slider__switch-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  //display: block;
  z-index: 20;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background-position .20s;
}

.slider__switch-bg-left {
  background-image: url("/assets/img/icons/tr-top.png");

  &:hover {
    animation: move-up 0.6s ease;
    animation-iteration-count: 1;
  }
}

.slider__switch-bg-right {
  background-image: url("/assets/img/icons/tr-bottom.png");
  &:hover {
    animation: move-down 0.6s ease;
    animation-iteration-count: 1;
  }
}

.slider__switch-img {
  position: absolute;
  max-width: 50%;
  max-height: 20vh;
  top: 20%;
  left: 25%;
  transition: top .50s;
}

.slider__switch-img_left_shown, .slider__switch-img_right_shown {

}

.slider__switch-img_left_above, .slider__switch-img_right_above {
  transition: top .50s;
  top: -100%;
}

.slider__switch-img_left_below, .slider__switch-img_right_below {
  top: 100%;
}

.no-transition {
  transition: none !important;
}

@keyframes move-down {
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-up {
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}