.work-slider-block__current {
  max-width: 80%;
  margin-top: 108px;
  margin-bottom: 108px;
}

.work-slider-block__switch {
  @extend  %clearfix;
}

.work-slider-block__image {
  max-width: 50%;
  display: block;
  float: left;
}