.sprites-container
    h1 PNG Sprite demo
    ul(class="sprite-demo")
        li
            div(class="png-icon icon-butterfly-design-of-thin-stripes-wings")
                .inner
                    .title icon-butterfly-design-of-thin-stripes-wings
        li
            div(class="png-icon icon-butterfly-rotated")
                .inner
                    .title icon-butterfly-rotated
        li
            div(class="png-icon icon-butterfly-side-view-with-ornamented-wings")
                .inner
                    .title icon-butterfly-side-view-with-ornamented-wings
        li
            div(class="png-icon icon-butterfly-with-delicate-wings-from-top-view")
                .inner
                    .title icon-butterfly-with-delicate-wings-from-top-view
        li
            div(class="png-icon icon-delicacy-of-butterfly-shapes")
                .inner
                    .title icon-delicacy-of-butterfly-shapes
        li
            div(class="png-icon icon-tribal-wings-design-butterfly-side-view")
                .inner
                    .title icon-tribal-wings-design-butterfly-side-view