.sprites-container
    h1 SVG Sprite demo
    ul(class="sprite-demo")
        li
            svg(class="svg-sprite-img")
                use(xlink:href="assets/img/sprite.svg#back-button")
            .inner
                .title back-button
        li
            svg
                use(xlink:href="assets/img/sprite.svg#fast-forward")
            .inner
                .title fast-forward
        li
            svg
                use(xlink:href="assets/img/sprite.svg#history")
            .inner
                .title history
        li
            svg
                use(xlink:href="assets/img/sprite.svg#house")
            .inner
                .title house
        li
            svg
                use(xlink:href="assets/img/sprite.svg#mobile-phone")
            .inner
                .title mobile-phone
        li
            svg
                use(xlink:href="assets/img/sprite.svg#whatsapp-logo")
            .inner
                .title whatsapp-logo
        li
            svg
                use(xlink:href="assets/img/sprite.svg#world-wide-web")
            .inner
                .title world-wide-web
        li
            svg
                use(xlink:href="assets/img/sprite.svg#food")
            .inner
                .title food

