$footerHeight: 148px;

@mixin centered($axis: 'both') {
  position: absolute;

  @if ($axis == 'both') {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if ($axis == 'X') {
    left: 50%;
    transform: translateX(-50%);
  }

  @if ($axis == 'Y') {
    top: 50%;
    transform: translateY(-50%);
  }
}

%clearfix {
  &:after, &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//breakpoints-------------------------

@mixin tv {
  @media (min-width: 1200px) {
    @content
  }
}

@mixin desktop {
  @media (max-width: 1200px) {
    @content
  }
}

@mixin laptop {
  @media (max-width: 922px) {
    @content
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content
  }
}

@mixin smartphone {
  @media (max-width: 480px) {
    @content
  }
}