.intro {

}

.greeting-pages {
  margin-top:  10%;
}

.socials-intro {
  border: 1px solid black;
  width: 200px;
  height: 30px;
  padding: 0;
  margin: 0;
  float: left;
}

.socials-intro__item {
  display: inline-block;
  width: 45px;
  height: 30px;
}

.hamburger {
  border: 1px solid black;
  width: 100px;
  height: 30px;
  padding: 0;
  float: right;
}