extends ../layout
block variables
    - var title = $.site.author + " | " +  $.site.name + " | " + $.site.pages.works
block content
    .wrapper
        -var pageName = "works"
        include ../sections/hero
        section.section.works
            .section-title(style="background-image: url('assets/img/decor/works_header.svg')") Мои работы
            .slider
                .slider-descr
                    .slider__descr-inner
                        .slider__descr-title
                            .block-title(id='slider-title')
                        .slider__descr-skills(id='slider-skills')
                        .slider__deskr-btn-wrapper
                            a.slider__deskr-link(href="#" id="slider-link" target="_blank")
                                button.slider__deskr-btn Посмотреть сайт
                .slider__display
                    img.slider__display-img(src="" alt="Пример сайта 1" id="slider-preview")
                .slider__switches
                    .slider__switch-bg-gray
                    .slider__switch
                        .slider__switch-bg.slider__switch-bg-left(id="slider__go-up")
                        img.slider__switch-img.slider__switch-img_left_shown(src="/assets/img/content/slider/1.png" alt="Пример сайта 2" id="slider-next")
                        img.slider__switch-img.slider__switch-img_left_below(src="/assets/img/content/slider/2.png" alt="Пример сайта 2" id="slider-next1")
                    .slider__switch.slider__switch_right
                        .slider__switch-bg.slider__switch-bg-right(id="slider__go-down")
                        img.slider__switch-img.slider__switch-img_right_above(src="/assets/img/content/slider/3.png" alt="Пример сайта 2" id="slider-next0")
                        img.slider__switch-img.slider__switch-img_right_shown(src="/assets/img/content/slider/4.png" alt="Пример сайта 3" id="slider-prev")

        section.section.feedbacks
            .feedbacs__title
                .section-title(style="background-image: url('assets/img/decor/about_header.svg')")
                    | Что обо мне говорят
            .feedbacks__items
                each feedback in $.feedbacks
                    .feedbacks__feedback
                        .feedbacks__feedback-content=feedback.content
                        .feedbacks__feedback-bottom
                            .feedbacks__feedback-image-container
                                img.feedbacks__feedback-image(src=`/assets/img/content/${feedback.photo}` alt="Фото автора отзыва")
                            .feedbacks__feedback-author-container
                                .feedbacks__feedback-author=feedback.author
                                .feedbacks__feedback-author-state=feedback.about

            .feedbacks__bg
                .feedbacks__bg-outer
                    .feedbacks__bg-inner
                        img(src="/assets/img/bg/oсean_bg.jpg" alt="").feedbacks__bg-img


            form.feedbacks__connect-me#connect-me-form(name="connect-me-form", action='contact' method="POST")
                .connect-me
                    .connect-me__blur-wrapper
                        .connect-me__blur
                    .block-title Связаться со мной
                    .connect-me__validation-message(id='validation-message')
                    .connect-me-block__inputs
                        input.connect-me-block__input(name="name" id="name" type="text" placeholder="Имя" required)
                        input.connect-me-block__input(name="email" id="email" type="email" placeholder="Email" required)
                        input.connect-me-block__input.connect-me-block__input-message(name="message" id="message" type="text" placeholder="Ваше сообщение" required)
                    .connect-me-block__buttons
                        input(type="submit" value="Отправить").connect-me-block__button
                        input(type="reset" value="Очистить").connect-me-block__button
        .empty
    include ../sections/footer
