extends ../_pages

block intro
    include ../sections/intro

block page-content
    .page-content Весь основной контент страницы "ОБО МНЕ"
        include ../sections/about_about
        include ../sections/about_contacts


