extends ../layout
block variables
    - var title = $.site.author + " | " + $.site.name + " | " + $.site.pages.about

block content
    .wrapper
        -var pageName = "about"
        include ../sections/hero
        section.section.about
            .about__col.about__col_left
                .section-title(style="background-image: url('assets/img/decor/about_header.svg')")
                    | Обо мне
                .about__inner
                    img.about__pic(src="/assets/img/content/author_big.png" alt="Фото автора")
                    .block-title Кто я
                    .block-text!= $.aboutText
            .about__col.about__col_right
                .skills
                    .block-title Чем я могу быть вам полезен
                    .skills_text.block-text!= $.usefull.text
                    ul.skills-group
                        each skillGroup in $.usefull.areas
                            li.skills-group__item
                                .skill-group__title #{skillGroup.name}
                                ul.skills-list
                                each skill in skillGroup.skills
                                    li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(r="45" cx="50%" cy="50%" ).skill__circle_under
                                            circle(r="45" cx="50%" cy="50%" ).skill__circle_above
                                        .skill__name #{skill.name}

        section.section.map
            .map__google(id="map")
            .map__box-over
                .map__container
                    .contacts
                        .block-title.block-title_center Контакты
                        ul.contacts__list
                            - var contactsItems = [{name:'skype', value:"vvshelest"}, {name:'email', 'value':"freeelk@gmail.com"}, {'name':'phone', 'value':'+3080955888***'}, {'name':'address', 'value':'Украина, Сумская область, г. Тростянец'}]
                            each item in contactsItems
                                li.contacts__item(style=`background-image: url('/assets/img/sprite/${item.name}.svg');`) #{item.value}
                .map__footer
                    include ../sections/footer