extends ../layout
block variables
    - var title = $.site.author + " | " +  $.site.name + " | " + $.site.pages.index
    - var pageName = "index"
block content
    .wrapper
        section.section.greeting
            .greeting__bg
                img(src="assets/img/bg/mountains_bg.jpg" alt="mountains background").greeting__bg-img
                .greeting__container
                    button.greeting__athorizate Авторизоваться
                    .greeting-box
                        include  ../sections/author
                        .greeting-box__socials
                            +socials('green')
                        ul.box-menu
                            li.box-menu__item
                                a.box-menu__link(href="/works.html") Мои работы
                            li.box-menu__item
                                a.box-menu__link(href="/about.html") Обо мне
                            li.box-menu__item
                                a.box-menu__link(href="/blog.html") Блог

                    .greeting-footer &copy; #{$.site.author} | #{$.site.motto} | #{$.site.date}
