extends ../_pages

block intro
    include ../sections/intro

block page-content
    .page-content Весь основной контент страницы "МОИ РАБОТЫ"
    include ../sections/works_myworks
    include ../sections/works_feedback
