extends ../layout
block variables
    - var title = $.site.author + " | " +  $.site.name + " | " + $.site.pages.works
block content
    .wrapper
        -var pageName = "works"
        include ../sections/hero
        section.section.works
            .section-title(style="background-image: url('assets/img/decor/works_header.svg')") Мои работы
            .slider
                .slider-descr
                    .slider__descr-inner
                        .slider__descr-title
                            .block-title Сайт школы онлайн-образования
                        .slider__descr-skills HTML, CSS, JAVASCRIPT
                        .slider__deskr-btn-wrapper
                            button.slider__deskr-btn Посмотреть сайт
                .slider__display
                    img.slider__display-img(src="/assets/img/content/work-1.png" alt="Пример сайта 1")
                .slider__switches
                    .slider__switch
                        img.slider__switch-img(src="/assets/img/content/work-2.png" alt="Пример сайта 2")
                    .slider__switch
                        img.slider__switch-img(src="/assets/img/content/work-3.png" alt="Пример сайта 3")


        section.section.feedbacks
            .feedbacs__title
                .section-title(style="background-image: url('assets/img/decor/about_header.svg')")
                    | Что обо мне говорят
            .feedbacks__items
                each feedback in $.feedbacks
                    .feedbacks__feedback
                        .feedbacks__feedback-content=feedback.content
                        .feedbacks__feedback-bottom
                            .feedbacks__feedback-image-container
                                img.feedbacks__feedback-image(src=`/assets/img/content/${feedback.photo}` alt="Фото автора отзыва")
                            .feedbacks__feedback-author-container
                                .feedbacks__feedback-author=feedback.author
                                .feedbacks__feedback-author-state=feedback.about

            .feedbacks__bg
                .feedbacks__bg-outer
                    .feedbacks__bg-inner
                        img(src="/assets/img/bg/oсean_bg.jpg" alt="").feedbacks__bg-img


            .feedbacks__connect-me
                .connect-me
                    .connect-me__blur-wrapper
                        .connect-me__blur
                    .block-title Связаться со мной
                    .connect-me-block__inputs
                        input.connect-me-block__input(type="text" placeholder="Имя")
                        input.connect-me-block__input(type="text" placeholder="Email")
                        input.connect-me-block__input.connect-me-block__input-message(type="text" placeholder="Ваше сообщение")
                    .connect-me-block__buttons
                        button.connect-me-block__button Отправить
                        button.connect-me-block__button Очистить
        .empty
    include ../sections/footer
